@font-face {
    font-family: Manrope;
    src: url(/fonts/Manrope-VariableFont_wght.ttf);
}
@font-face {
    font-family: Comfortaa;
    src: url(/fonts/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
    font-family: Pacifico;
    src: url(/fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: Mama;
    src: url(/fonts/Mama-D0YW.ttf);
}
@font-face {
    font-family: PressStart2P;
    src: url(/fonts/PressStart2P-vaV7.ttf);
}

@keyframes spinninga {
    from {
        transform: 
            rotate3d(0, 1, 0, 45deg) 
            rotate3d(0, 0, -1, 0deg) 
            translate3d(0,0, calc( var(--rect-size) * .66 ))
        ;
    }
    to {
        transform: 
            rotate3d(0, 1, 0, 45deg) 
            rotate3d(0, 0, -1, 90deg) 
            translate3d(0,0, calc( var(--rect-size) * .66 ))
        ;
    }
}

@keyframes spinningb {
    from {
        transform: 
            rotate3d(0, 1, 0, 45deg) 
            rotate3d(0, 0, -1, 30deg) 
            translate3d(0,0,0)
        ;
    }
    to {
        transform: 
            rotate3d(0, 1, 0, 45deg) 
            rotate3d(0, 0, -1, 120deg) 
            translate3d(0,0,0)
        ;
    }
}

@keyframes spinningc {
    from {
        transform: 
            rotate3d(0, 1, 0, 45deg) 
            rotate3d(0, 0, -1, 60deg) 
            translate3d(0,0, calc( var(--rect-size) * -.66 ));
    }
    to {
        transform: 
            rotate3d(0, 1, 0, 45deg) 
            rotate3d(0, 0, -1, 150deg) 
            translate3d(0,0, calc( var(--rect-size) * -.66 ));
    }
}
* {
    box-sizing: border-box;
}
body {
    font-family: Manrope, sans-serif;
    font-size: 22px;
    background: var(--canvas);
    color: var(--neutral);
}
main {
    position: relative;
    // transition: height .5s ease;
}
main > div {
    min-height: var(--content-min-height);
    transform-origin: top;
    width: 100%;
    
}
div.default-padding {
    padding-bottom: calc( var(--content-padding-y) + var(--footer-height) );
}
div.default-padding-top,
div.default-padding {
    padding-top: calc( var(--content-padding-y) + var(--nav-height) ) ;
}
div.default-padding-x,
div.default-padding {
    padding-left: var(--content-padding-x);
    padding-right: var(--content-padding-x);
}
footer, .cookies {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    line-height: 1.6;
}
footer {
    .footer-content {
        margin: 0;
        height: var(--footer-height);
        padding: var(--content-padding);
    }
}
nav {
    height: var(--nav-height);
    position: absolute;
    z-index: 100;
}
nav > div {
    max-width: var(--content-width);
    padding: var(--content-padding);
    width: 100%;
}
main {
    max-width: var(--content-width);
    margin: 0 auto;
}
ul {
    padding-left: 0;
}
ul li {
    margin: 20px 0;
}
.mb-5 {
    margin-bottom: 50px
}
.http-cat {
    height: 600px;
    border-radius: 30px;
}
/*button.highlight {
    color: var(--canvas);
    background: var(--dark-pink);
    box-shadow: 
        0 var(--button-height) 0 0 var(--light-brown), 
        0 var(--button-height) var(--inset-shadow) var(--pink)
}
button.highlight:hover {
    color: var(--brown);
    background: var(--green);
    box-shadow: 
        0 var(--button-height) 0 var(--blue),
        0 var(--button-height) var(--inset-shadow) var(--pink),
        0 2px 15px var(--blue)
    ;
}
button.highlight:active, button.highlight.pressed {
    color: var(--brown);
    background: var(--green);
    box-shadow: 
        0 0 0 var(--blue), 
        0 2px 15px var(--blue)
    ;
}*/
a {
    color: var(--primary);
}
.right {
    float:right;
}

$glowSpreadStart: 3px;
$glowSpreadEnd: 2.5px;
$glowBlurStart: 10px;
$glowBlurEnd: 9px;

@keyframes TextGlowAnimaton {
    0% {
        color: white;
        text-shadow: 
            var(--glow-color) 0 ($glowSpreadStart) $glowBlurStart,
            var(--glow-color) 0 (-$glowSpreadStart) $glowBlurStart,
            var(--glow-color) ($glowSpreadStart) 0 $glowBlurStart,
            var(--glow-color) (-$glowSpreadStart) 0 $glowBlurStart,
        ;
    }
    100% {
        color: white;
        text-shadow: 
            var(--glow-color) 0 ($glowSpreadEnd) $glowBlurEnd,
            var(--glow-color) 0 (-$glowSpreadEnd) $glowBlurEnd,
            var(--glow-color) ($glowSpreadEnd) 0 $glowBlurEnd,
            var(--glow-color) (-$glowSpreadEnd) 0 $glowBlurEnd,
        ;
    }
}
h1,h2,h3 {
    font-family: Comfortaa, sans-serif;
    // text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    animation: .15s TextGlowAnimaton cubic-bezier(.65,.05,.36,1) infinite alternate;
    --glow-color: var(--primary);
    // z-index: 10;
    // position: relative;

    &.style2 {
        --glow-color: var(--cyan);
    }

}
p {
    line-height: 1.6;
}
h2 {
    font-size: 50px;
    margin: 0;
}
nav, .nav-buttons, nav > div {
    display: flex;
}
.nav-buttons, nav {
    justify-content: center;
    align-content: center;
    align-items: center;
}
ul.no-indicators {
    list-style: none;
}
ul.center li {
    text-align: center;
}
nav, footer {
    width:100%;
    // background: var(--pink);
    /*position:relative;*/
    // box-shadow: var(--light-brown) 0 0 20px 0;
}
.heart {
    font-size: 22px;
}
/*nav::after {
    content: " ";
    position: absolute;
    background: var(--green);
    height: 10px;
    width: 100%;
    bottom: 0;
}*/
nav > div{
    justify-content: space-between;
    align-content: center;
}
.flag, .cookies {
    max-width: none;
    width: 100%;
    background: var(--canvas);
    color: var(--primary);
    text-align: center;
}
.center {
    text-align: center;
}
.line {
    height: 2px;
    background: var(--primary);
    width: 100%;
    margin: 50px 0;
}
.flag h1 {
    color: var(--neutral);
}
.cursive {
    color: var(--primary);
    // font-family: Comfortaa, monospace;
    // text-transform: lowercase;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.cookies {
    padding: 5px 10px;
    box-shadow: rgba(0,0,0,.2) 0 0 10px 0;
    position:fixed;
    top: 0;
    z-index: 2;
}
article {
    margin-bottom: 80px;
}
.vid-grid {
    display: grid;
    grid-gap: 25px 50px;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.vid-grid video{
    width: 100%;
    height: 265px;
}
.single-vid video{
    width: 100%;
    height: 552px;
}
.videos video {
    background: black;
    border-radius: 5px;
}
.air-bottom {
    margin-bottom: 50px;
}
.star-box {
    display: inline-block;
    perspective: 800px;
    height: var(--rect-size);
    width: var(--rect-size);
    margin: 95px 95px 95px 75px;
}
.desktop-only {
    display: inline-block;
}
.mobile-only {
    display: none;
}
.hook-link {
    position: absolute;
    padding-right: 5px;
    transform: translateX(-100%);
    text-decoration: none;
    transition: color var(--timing) ease;
}
.hook-link:active {
    color: var(--secondary);
}
body pre code.hljs {
    padding: 0;
}

.style2, .style2 * {
    --primary: var(--style2-primary); // main color
    --neutral: var(--style2-neutral); // text color
    --canvas: var(--style2-canvas); // background color
}

@keyframes RainbowAnimation {
    0%{ background-position: 0% 0% }
    100%{ background-position: 100% 0% }
}

@keyframes FlangerAnimation {
    0%{ opacity: .9 }
    100%{ transform: 1 }
}

@keyframes FlickerAnimation {
    0%{ opacity: .75 }
    100%{ opacity: 1 }
}

@keyframes FlickerSoftAnimation {
    0%{ opacity: .93 }
    100%{ opacity: 1 }
}

.background-rainbow {
    background-color: var(--primary);
    background-image: linear-gradient( 
        90deg, 
        var(--blue), 
        var(--primary), 
        var(--blue), 
        var(--primary), 
        var(--blue) 
    );

    @media (prefers-color-scheme: dark) {
        background-image: linear-gradient( 
            90deg, 
            var(--primary), 
            var(--cyan), 
            var(--primary), 
            var(--cyan), 
            var(--primary) 
        );
    }
    background-size: 200% 100% !important;
}

:root {
    // explicit colors
    --style1-primary: var(--dark-pink); // main color
    --style1-neutral: var(--brown); // text color
    --style1-canvas: var(--beige); // background color

    --style2-primary: var(--beige); // main color
    --style2-neutral: var(--beige); // text color
    --style2-canvas: var(--dark-pink); // background color

    @media (prefers-color-scheme: dark) {
        // explicit colors
        --style1-primary: var(--magenta); // main color
        --style1-neutral: var(--cyan); // text color
        --style1-canvas: var(--dark-blue); // background color

        --style2-primary: var(--magenta); // main color
        --style2-neutral: var(--cyan); // text color
        --style2-canvas: var(--dark-purple); // background color
    }

    // default colors
    --primary: var(--style1-primary); // main color
    --neutral: var(--style1-neutral); // text color
    --canvas: var(--style1-canvas); // background color

    // --dark-brown: #33060c;
    --dark-blue: #0D0E34;
    --dark-purple: #241E67;
    --black-magenta: #3b0000;
    --dark-magenta: #770202;
    --med-magenta: #c02d50;
    --magenta: #EA3863;
    --cyan: #64D9EB;

    --brown: #73464c;
    --light-brown: #ab5675;
    --dark-pink: #ee6a7c;
    --pink: #ffa7a5;
    --gold: #ffe07e;
    --beige: #ffe7d6;
    --green: #72dcbb;
    --blue: #34acba;

    --gradient: radial-gradient(var(--pink) 0%, var(--canvas) 75%);
    --timing: .2s;
    --rect-size: 150px;
    --spinning-time: linear 0s infinite;
    --inset-shadow-blur: 2px;
    --inset-shadow: var(--inset-shadow-blur) 2px;
    --inset-shadow-text: 6px var(--brown);

    --button-height: 10px;
    --content-width: 100%;
    --content-padding-y: 25px;
    --content-padding-x: 100px;
    --content-padding: var(--content-padding-y) var(--content-padding-x);

    --footer-height: 93px;
    --nav-height: 160px;

    --content-min-height: calc( 100vh - var(--footer-height) );
}
